/* h2 {
    color: red;
}

.title-big {
    color: blue;
}

#test {
    color: violet;
}

h2 + p {
    color: green;
} */

/* pour s'entrainer au css : https://flukeout.github.io/ */

/*
Pour centrer les élèments d'un menu avec le flex
.menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
} */

body {
    margin: 0;
    line-height: 1.4;
    /* letter-spacing: 0.2px; */
    /* font-family: "Comic Sans MS", "Melvetica", sans-serif; */
    font-family: "Source Sans pro", sans-serif;
}

.header{
    background: gray;
    padding: 20px;
    height: auto;
    color: white;
    z-index: 2;
    overflow: hidden;
    /* font-size: 15px; */
}

.header img {
    width: 100%;
    height: auto;
}

.header-title {
    text-align: center;
    margin: 0px;
    font-weight: lighter;
    font-style: italic;
    text-transform: capitalize; /* Pour mettre en majuscule */
    z-index: 4;
}

.header-nav {
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
}

.header-nav a {
    float: left;
    width: 25%;
    color: inherit; /* pour hériter de la couleur du parent */
    text-decoration: none; /* pour souligner ou pas les liens */
}

.header-nav a:hover {
    text-decoration: underline;
}

.main {
    position: relative;
    background-color: lightgrey;
    padding: 20px;
    font-size: 16px;
    z-index: 1;
}

.main p {
    text-align: justify;
    /* margin-bottom: 1.5rem; */
    /* overflow-wrap: break-word; pour faire passer les mots à la ligne */
}

.footer{
    background-color: gray;
    padding: 10px 20px;
}

.align-left {
    float: left;
    margin-right: 15px;
}

.align-right {
    float: right;
    margin-left: 15px;
}

hr {
    clear: both;
}