/* h2 {
    color: red;
}

.title-big {
    color: blue;
}

#test {
    color: violet;
}

h2 + p {
    color: green;
} */

/* pour s'entrainer au css : https://flukeout.github.io/ */

body {
    margin: 0;
    line-height: 1.4;
    /* letter-spacing: 0.2px; */
    /* font-family: "Comic Sans MS", "Melvetica", sans-serif; */
    font-family: "Source Sans pro", sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
    padding: 20px;
    height: auto;
    color: white;
    height: 30px;
    z-index: 2;
    /* font-size: 15px; */
}

.header img {
    width: 100%;
    height: auto;
}

.header-nav {
    margin: 20px 0;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.header-nav a {
    padding: 0 10px;
    color: inherit; /* pour hériter de la couleur du parent */
    text-decoration: none; /* pour souligner ou pas les liens */
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-title {
    position: absolute;
    left: 10px;
    top: 10px;
    margin-top: O;
    font-weight: lighter;
    font-style: italic;
    text-transform: capitalize; /* Pour mettre en majuscule */
    z-index: 4;
}

.main {
    position: relative;
    background-color: lightgrey;
    padding-top: 70px 20px 20px;
    font-size: 16px;
    z-index: 1;
}

.main p {
    text-align: justify;
    /* margin-bottom: 1.5rem; */
    /* overflow-wrap: break-word; pour faire passer les mots à la ligne */
}

.footer{
    background-color: gray;
    padding: 10px 20px;
}